In [11]:
import pandas as pd

In [78]:
comm_data = pd.read_excel('1.xlsx')
battery_data = pd.read_excel('2.xlsx')
solar_data = pd.read_excel('3.xlsx')
binary_data = pd.read_excel('4.xlsx')
config_data = pd.read_excel('5.xlsx')
triggers_data = pd.read_excel('6.xlsx')
reset_data = pd.read_excel('7.xlsx')
diag126_data = pd.read_excel('8.xlsx')

In [79]:
comm_data.columns

Index(['Customerid', 'Areaid', 'Meterid', 'Datetime', 'Message'], dtype='object')

In [80]:
comm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1873 entries, 0 to 1872
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Customerid  1873 non-null   int64
 1   Areaid      1873 non-null   int64
 2   Meterid     1873 non-null   int64
 3   Datetime    1873 non-null   datetime64[ns]
 4   Message     1873 non-null   object
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 73.3+ KB

In [81]:
comm_data.isnull().sum()

Customerid    0
Areaid        0
Meterid       0
Datetime      0
Message       0
dtype: int64

In [82]:
data = comm_data.groupby('Meterid')['Datetime'].max()

In [83]:
print(data)

Meterid
36003   2025-04-24 23:21:33.787
36004   2025-04-24 23:21:31.683
36005   2025-04-24 23:51:46.207
36006   2025-04-24 23:51:44.073
36007   2025-04-24 23:33:52.277
36008   2025-04-24 23:33:50.153
36009   2025-04-24 23:07:39.727
36010   2025-04-24 23:07:37.693
36011   2025-04-24 22:59:48.663
36012   2025-04-24 22:59:46.633
36013   2025-04-24 23:01:16.060
36014   2025-04-24 23:01:14.010
36015   2025-04-24 23:02:09.493
36016   2025-04-24 23:02:07.457
36017   2025-04-24 23:16:44.927
36018   2025-04-24 23:16:30.873
Name: Datetime, dtype: datetime64[ns]

In [84]:
battery_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerid       641 non-null    int64
 1   areaid           641 non-null    int64
 2   meterid          641 non-null    int64
 3   datetime         641 non-null    datetime64[ns]
 4   diagnostictype   641 non-null    int64
 5   diagnosticvalue  641 non-null    object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 30.2+ KB

In [85]:
import numpy as np

collect = battery_data['diagnosticvalue']
split_collect = collect.str.split(',',expand=True)
split_collect = split_collect.apply(pd.to_numeric)
def get_first_nonzero(row):
    for val in row:
        if val!=0:
            return val
    return np.nan
split_collect = split_collect.apply(get_first_nonzero,axis=1)
split_collect

0      4.04
1      4.04
2      4.04
3      4.04
4      4.04
       ...
636    3.71
637    3.71
638    3.71
639    3.72
640    3.72
Length: 641, dtype: float64

In [86]:
split_cols = solar_data['diagnosticvalue'].str.split(',', expand=True)
split_cols = split_cols.apply(pd.to_numeric)
split_cols= split_cols.max(axis=1)
split_cols

0      0.17
1      0.16
2      0.16
3      0.16
4      0.16
       ...
636    0.00
637    0.00
638    0.00
639    0.00
640    0.00
Length: 641, dtype: float64

In [87]:
diag126_data

    meterid  diag
0     36003    12
1     36004     4
2     36006    22
3     36008     4
4     36009     5
5     36010    13
6     36011    24
7     36012    12
8     36013     6
9     36014     8
10    36015    23
11    36016    21
12    36017     1
13    36018    11

In [88]:
parent_data = diag126_data[diag126_data['meterid']%2!=0]
child_data = diag126_data[diag126_data['meterid']%2==0]
child_data

    meterid  diag
1     36004     4
2     36006    22
3     36008     4
5     36010    13
7     36012    12
9     36014     8
11    36016    21
13    36018    11

In [89]:
parent_data

    meterid  diag
0     36003    12
4     36009     5
6     36011    24
8     36013     6
10    36015    23
12    36017     1

In [90]:
new_data = {
    'meterid':[36003,36004,36005,36007,36009,36011,36013,36017]
}
new_data = pd.DataFrame(new_data)
new_data

   meterid
0    36003
1    36004
2    36005
3    36007
4    36009
5    36011
6    36013
7    36017

In [ ]:
for